*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    
}
.job_form{
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgb(1, 1, 1, 0.1);
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form_box{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 20px;
    margin-bottom: 5px;
}
input, select, textarea{
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input:focus{
    outline-color: red;
}
.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    padding: 5px 10px;
    background-color: red;
    border: transparent solid 2px;
    border-radius: 6px;
    color: #ffffff;
transition: 0.3s ease-in;
}
button:hover{
    background-color: palevioletred;
    color: #000000;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.form_address{
    grid-column: 1 / span 2;
}
.form_address textarea{
    width: 100%;
}
@media(max-width: 460px){
   .form_address{
    grid-column: 1 / span 1; 
   }
}